{{> nav/nav-block user=false register=true}}

<div id="main-container" class="mainContainer flexCenter mainPgImg">
  <div class="jumbotron text-center header-wrap" align="center">
    <p class="lead">Pixel Patch</p>
    <div>
      {{#if isloggedin}}
      <div class="row">
        <div class="col col-md-12" style="height: 100vh;">
          You are logged in as {{user.email}} <br>
          <a href="/logout"> <button type="btn" class="btn" style="margin-top: 25px;">Logout</button></a>
        </div>  
      </div>  
    </div>
  
      {{else}}
        <div class="container" style="background: rgba(0, 0, 0,.5) !important;">
          <div class="row">
            <div class="col col-md-12">
              <header class="create-user-wrap header-wrap" align="center">
                <h2>Sign in</h2>
                <h3 id="create-err-msg"></h3>
              </header>

              <!-- Login form -->
              <form id= "create-form">
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <input type="text" class="form-control" id="email" placeholder="Email">
                  </div>
                  <div class="form-group col-md-12">
                    <input type="password" class="form-control" id="user_password" placeholder="Password">
                  </div>
                </div>

                <!-- Message -->
                <div>
                  <h2 id="message"></h2>
                </div>

                <button id="login" type="button" class="btn btn-primary">Login</button>
              </form>
            </div>
          </div>
          <p>You need to log in to use this app. Don't have a login? Sign up!</p>
        </div>
      {{/if}}
      <!-- Error Message -->
      <h5 id="login-err-msg"></h5>
    </div>
  </div>
</div>

{{> modal/login-block}}
