{{> nav/nav-block}}

<!-- main container -->
<div class="mainContainer">
    <div class="row" style="height: 100%; margin: 0px;">
        <div class="jumbotron jumbotron-fluid flexCenter" style="padding: 0; padding-top: 3em;" role="figure">
            <h1>Editor</h1>
        </div>
        <!-- pumpkin display -->
        <div class="col-md-7" style="padding-left: 0px; padding-right: 0px;">
            <div class="pumpkinDisplay">
                <!--pumpkin -->
                {{> svg/pumpkin}}
                    <!--eyes -->
                    <g id="eyesgroup" transform="translate(0,0)">
                        <path style="fill:#000000;fill-opacity:1;stroke:none" id="eyespath"
                        d=""/>
                    </g>
                    <!--nose -->
                    <g id="nosegroup" transform="translate(0,0)">
                        <path style="fill:#000000;fill-opacity:1;stroke:none" id="nosepath"
                        d=""/>
                    </g>
                    <!--mouth -->
                    <g id="mouthgroup" transform="translate(0,0)">
                        <path style="fill:#000000;fill-opacity:1;stroke:none" id="mouthpath"
                        d=""/>
                    </g>
                </svg>
            </div>
        </div>
        <!-- editor hud -->
        <div class="col-md-5 editorHudFix">
            <div class="editorBox">
                <div class ="editorHud">
                    <div class="editorBtnBox">
                        <!-- face nav -->
                        <div class="row flexCenter" style="margin-bottom: 1em;" id="faceNav">
                            <button type="button" class="btn btn-primary btn-rounded btn-md ml-4 faceBtns" id="eyesBtn">Eyes</button>
                            <button type="button" class="btn btn-primary btn-rounded btn-md ml-4 faceBtns" id="noseBtn">Nose</button>
                            <button type="button" class="btn btn-primary btn-rounded btn-md ml-4 faceBtns" id="mouthBtn">Mouth</button>
                        </div>

                        <!-- feature picker -->
                        <div class="row flexCenter" style="margin-bottom: 2em;" id="featureNav">
                            
                        <div id="eyesNav" class="partNav"></div>
                        <div id="noseNav" class="partNav hide"></div>
                        <div id="mouthNav" class="partNav hide"></div>
                           
                        </div>
                        
                        <!-- save design -->
                        <div class="row flexCenter" style="margin: 10px;">
                            <form id= "create-form" style="margin-top: 0px; margin-bottom: 0px; padding-top: 0px; padding-bottom: 0px;">
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <input type="text" class="form-control" id="designName" placeholder="Name your design">
                                    </div>
                                    <div class="col-md-12 flexBetween">
                                        <button type="submit" id="saveBtn" class="btn btn-primary" data-userid="{{userInfo.id}}">Save</button>
                                        <button type="submit" id="resetBtn" class="btn btn-primary">Reset</button>
                                    </div>
                                </div>
                            </form>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/assets/js/editor.js"></script>

<!-- actually the create user modal-->
{{> modal/login-block}}


