{{> nav/nav-block}}

<!-- main container -->
<div class="mainContainer">
    <div class="row" style="height: 100%; margin: 0px;">
        <div class="jumbotron jumbotron-fluid flexCenter" style="padding: 0; padding-top: 3em;" role="figure">
            <h1>Editor</h1>
        </div>
        <!-- pumpkin display -->
        <div class="col-md-7" style="padding-left: 0px; padding-right: 0px;">
            <div class="pumpkinDisplay">
                <!--pumpkin -->
                {{> svg/pumpkin}}
                    <!--eyes -->
                    <g id="eyesgroup" transform="translate(0,0)">
                        <path style="fill:#000000;fill-opacity:1;stroke:none" id="eyespath"
                        d=""/>
                    </g>
                    <!--nose -->
                    <g id="nosegroup" transform="translate(0,0)">
                        <path style="fill:#000000;fill-opacity:1;stroke:none" id="nosepath"
                        d=""/>
                    </g>
                    <!--mouth -->
                    <g id="mouthgroup" transform="translate(0,0)">
                        <path style="fill:#000000;fill-opacity:1;stroke:none" id="mouthpath"
                        d=""/>
                    </g>
                </svg>
            </div>
        </div>
            <!-- editor hud -->
        <div class="col-md-5 editorHudFix">
            <div class="editorBox">
                <div class ="editorHud">
                    <div class="editorBtnBox">
                        <!-- face nav -->
                        <div class="row flexCenter" style="margin-bottom: 1em;" id="faceNav">
                            <button type="button" class="btn btn-primary btn-rounded btn-md ml-4 faceBtns" id="eyesBtn">Eyes</button>
                            <button type="button" class="btn btn-primary btn-rounded btn-md ml-4 faceBtns" id="noseBtn">Nose</button>
                            <button type="button" class="btn btn-primary btn-rounded btn-md ml-4 faceBtns" id="mouthBtn">Mouth</button>
                        </div>

                        <!-- feature picker -->
                        <div class="row flexCenter" style="margin-bottom: 2em;" id="featureNav">
                            <button type="button" class="btn btn-primary btn-rounded btn-md ml-4 editorBtns" id="database ID goes here">
                                <svg version="1.1" viewBox="0 0 100 100" width="80" height="80">
                                    <g>
                                     <path style="fill:#000000;stroke:none" id="eyespath" d="m 30.163082,39.448378 c -3.961086,1.06e-4 -7.172211,3.211228 -7.172104,7.172314 -1.07e-4,3.961192 3.211018,7.172314 7.172104,7.17242 1.90224,0 3.726604,-0.755679 5.071619,-2.100697 1.345119,-1.345117 2.100697,-3.169478 2.100697,-5.071723 1.06e-4,-1.902238 -0.755578,-3.726492 -2.100697,-5.071617 -1.345015,-1.34501 -3.169379,-2.100697 -5.071619,-2.100697 z m 38.451692,0 c -1.902241,0 -3.726498,0.755687 -5.071618,2.100697 -1.345014,1.345125 -2.100698,3.169379 -2.100698,5.071617 0,1.902245 0.755684,3.726606 2.100698,5.071723 1.34512,1.345018 3.169377,2.100697 5.071618,2.100697 3.961192,-1.06e-4 7.17221,-3.211228 7.17221,-7.17242 0,-3.961086 -3.211018,-7.172208 -7.17221,-7.172314 z"/>
                                    </g>
                                 </svg>
                             </button>


                            <!--
                            <button type="button" class="btn btn-primary btn-rounded btn-md ml-4 editorBtns"></button>
                            <button type="button" class="btn btn-primary btn-rounded btn-md ml-4 editorBtns"></button>
                            <button type="button" class="btn btn-primary btn-rounded btn-md ml-4 editorBtns"></button>
                            <button type="button" class="btn btn-primary btn-rounded btn-md ml-4 editorBtns"></button>
                            <button type="button" class="btn btn-primary btn-rounded btn-md ml-4 editorBtns"></button>
                            <button type="button" class="btn btn-primary btn-rounded btn-md ml-4 editorBtns"></button>
                            <button type="button" class="btn btn-primary btn-rounded btn-md ml-4 editorBtns"></button>
                            <button type="button" class="btn btn-primary btn-rounded btn-md ml-4 editorBtns"></button>
                            -->
                        </div>
                        
                        <!-- save design -->
                        <div class="row flexCenter" style="margin: 10px;">
                            <form id= "create-form">
                                <div class="form-row">
                                <div class="form-group col-md-12">
                                    <input type="text" class="form-control" id="designName" placeholder="Name your design">
                                </div>
                                <div class="col-md-12 flexBetween">
                                    <button type="submit" id="saveBtn" class="btn btn-primary">Save</button>
                                    <button type="submit" id="resetBtn" class="btn btn-primary">Reset</button>
                                </div>
                                </div>
                            </form>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/assets/js/editor.js"></script>

{{> modal/login-block}}


