{{> nav/nav-block}}

<!-- main container -->
<div class="mainContainer" data-pumpkinid="{{pumpkinId}}">
    <div class="row" style="height: 100%; margin: 0px;">
        <!-- pumpkin display -->
        <div class="col-md-7" style="padding-left: 0px; padding-right: 0px;">
            <div class="pumpkinDisplay">
                <!--pumpkin -->
                {{> svg/pumpkin}}
                    <!--eyes -->
                    <g id="eyesgroup" transform="translate(0,0)">
                        <path style="fill:#000000;fill-opacity:1;stroke:none" id="eyespath"
                        d=""/>
                    </g>
                    <!--nose -->
                    <g id="nosegroup" transform="translate(0,0)">
                        <path style="fill:#000000;fill-opacity:1;stroke:none" id="nosepath"
                        d=""/>
                    </g>
                    <!--mouth -->
                    <g id="mouthgroup" transform="translate(0,0)">
                        <path style="fill:#000000;fill-opacity:1;stroke:none" id="mouthpath"
                        d=""/>
                    </g>
                </svg>
            </div>
        </div>
        <!-- editor hud -->
        <div class="col-md-5 editorHudFix">
            <div class="editorBox">
                <div class ="editorHud">
                    <h1 style="font-size:4em; text-align: center; color: white; margin: 0px; margin-top: 10px;">— Editor —</h1>
                    <div class="editorBtnBox">
                        <!-- face nav -->
                        <div class="row flexCenter" style="margin-bottom: 1em;" id="faceNav">
                            <button type="button" class="btn btn-primary btn-rounded btn-md ml-4 faceBtns" id="eyesBtn">Eyes</button>
                            <button type="button" class="btn btn-primary btn-rounded btn-md ml-4 faceBtns" id="noseBtn">Nose</button>
                            <button type="button" class="btn btn-primary btn-rounded btn-md ml-4 faceBtns" id="mouthBtn">Mouth</button>
                        </div>

                        <!-- feature picker -->
                        <div class="row flexCenter" style="margin-bottom: 2em;" id="featureNav">
                            <div class="overflow-auto">
                            
                                <div id="eyesNav" class="partNav"></div>
                                <div id="noseNav" class="partNav hide"></div>
                                <div id="mouthNav" class="partNav hide"></div>

                            </div>    
                        </div>

                        <!--save message -->
                        <div class="alert alert-warning alert-dismissible" role="alert">
                            <strong>Hey GOURD-geous!</strong> Your stencil was saved. 
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        
                        <!-- save design -->
                        <div class="row flexCenter" style="margin: 10px;">
                            <form id= "create-form" style="margin-top: 0px; margin-bottom: 0px; padding-top: 0px; padding-bottom: 0px;">
                                <div class="form-row flexBetween">
                                    <div class="form-group" style="margin-right: 20px;">
                                        <input type="text" class="form-control" id="designName" placeholder="Name your design" style="width: 100%;">
                                    </div>
                                    <button type="submit" id="saveBtn" style="margin-bottom: 16px;" class="btn btn-primary" data-userid="{{userInfo.id}}">Save</button>
                                </div>
                            </form>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/assets/js/editor.js"></script>

<!-- actually the create user modal-->
{{> modal/login-block}}


