{{> nav/nav-block}}

<!-- main container -->
<div class="mainContainer" data-userid="{{userInfo.id}}">
    <div class="row" style="height: 100%; margin: 0px;">
        
            <!-- Gallery -->
        <div class="col-md-5 editorHudFix">
            <div class="editorBox">
                <div class ="editorHud">
                    <h1 style="font-size:4em; text-align: center; color: white; margin: 0px; margin-top: 10px;">— Gallery —</h1>
                    <!-- Gallery nav -->
                    <div class="editorBtnBox" style="margin: 2em;">

                        <!-- Gallery picker -->
                        <div class="row flexCenter" style="margin-bottom: 2em;" id="galleryThumbs">
                            <!-- Gallery thumb generation here -->
                        </div>

                        <!-- edit/download -->
                        <div class="row flexCenter" style="margin: 10px;">
                            <div class="col-md-12 flexBetween">
                                <button type="submit" id="editBtn" class="btn btn-primary">Edit</button>
                                <button type="submit" id="downloadBtn" class="btn btn-primary">Download Stencil</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- pumpkin display -->
        <div class="col-md-7" style="padding-left: 0px; padding-right: 0px;">
            <div class="pumpkinDisplay" style="width: 100%; height: 100%;">
               <!--pumpkin -->
                {{> svg/pumpkin}}
                    <!--eyes -->
                    <g id="eyesgroup" transform="translate(0,0)">
                        <path style="fill:#000000;fill-opacity:1;stroke:none" id="eyespath"
                        d=""/>
                    </g>
                    <!--nose -->
                    <g id="nosegroup" transform="translate(0,0)">
                        <path style="fill:#000000;fill-opacity:1;stroke:none" id="nosepath"
                        d=""/>
                    </g>
                    <!--mouth -->
                    <g id="mouthgroup" transform="translate(0,0)">
                        <path style="fill:#000000;fill-opacity:1;stroke:none" id="mouthpath"
                        d=""/>
                    </g>
                </svg>
            </div>    
        </div>


    </div>
</div>

<script src="/assets/js/gallery.js"></script>

{{> modal/login-block}}


