{{> nav/nav-block}}

<!-- main container -->
<div class="mainContainer" data-userid="{{userInfo.id}}">
    <div class="row" style="height: 100%; margin: 0px;">
        
        <!-- Gallery -->
        <div class="col-md-5 editorHudFix">
            <div class="editorBox">
                <div class ="editorHud">
                    <h1 style="font-size:3.5em; text-align: center; color: white; margin: 0px; margin-top: 10px; margin-bottom: 20px;">— My Patch —</h1>
                    <!-- Gallery nav -->
                    <div class="editorBtnBox" style="margin: 2em;">

                        <!-- Gallery picker -->
                        <div class="row flexCenter overflow-auto" style="margin-bottom: 2em;" id="galleryThumbs">
                            <button id="newPumpkinBtn" class="btn btn-primary btn-rounded btn-md ml-4 editorBtns" title="Create a new pumpkin">
                                <svg version="1.1" viewBox="0 0 100 100" width="80" height="80">
                                    <g><path style="fill:#fff;stroke:none" d="M 44.824218,24.692382 V 44.824218 H 24.692382 V 55.175781 H 44.824218 V 75.307617 H 55.175781 V 55.175781 H 75.307617 V 44.824218 H 55.175781 V 24.692382 Z"></g>
                                </svg>
                            </button>
                            <!-- Gallery thumb generation here -->
                        </div>

                        <!-- edit/download -->
                        <div class="row flexCenter" style="margin: 10px;">
                            <div class="col-md-12 flexBetween">
                                <button type="submit" id="editBtn" class="btn btn-primary" style="margin-right: 15px; padding: 3px;" title="Edit Pumpkin">
                                    <img src="/images/edit.svg" width="48" height="48">
                                </button>

                                <button type="submit" id="deleteBtn" class="btn btn-primary" style="margin-right: 15px; padding: 3px;" title="Delete Pumpkin">
                                    <img src="/images/trash.svg" width="48" height="48">
                                </button>

                                <button type="submit" id="downloadBtn" class="btn btn-primary" style="padding: 3px;" title="Print Stencil">
                                    <img src="/images/printer.svg" width="48" height="48">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- pumpkin display -->
        <div class="col-md-7" style="padding-left: 0px; padding-right: 0px;">
            <div class="pumpkinDisplay" style="width: 100%; height: 100%;">
               <!--pumpkin -->
                {{> svg/pumpkin}}
                    <!--eyes -->
                    <g id="eyesgroup" transform="translate(0,0)">
                        <path style="fill:#000000;fill-opacity:1;stroke:none" id="eyespath"
                        d=""/>
                    </g>
                    <!--nose -->
                    <g id="nosegroup" transform="translate(0,0)">
                        <path style="fill:#000000;fill-opacity:1;stroke:none" id="nosepath"
                        d=""/>
                    </g>
                    <!--mouth -->
                    <g id="mouthgroup" transform="translate(0,0)">
                        <path style="fill:#000000;fill-opacity:1;stroke:none" id="mouthpath"
                        d=""/>
                    </g>
                </svg>
            </div>    
        </div>

    </div>
</div>

<script src="/assets/js/gallery.js"></script>

{{> modal/login-block}}


