<!-- Actually for creating an account, not login-->
<div class="modal" id="user-info" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create your Account</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- input form -->
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="inputUserName">User Name</label>
            <input type="userName" class="form-control" id="inputUser" placeholder="User Name">
          </div>
          <div class="form-group">
            <label for="inputUserEmail">Email</label>
            <input type="email" class="form-control" id="inputEmail" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control" id="inputPassword" placeholder="Password">
          </div>
        </form>
      </div>

      <!-- error message -->
      <div>
        <h3 id ="create-err-msg" style="font-size: 15px; text-align: center;"></h3>
      </div>

      <div class="modal-footer">
        <button type="submit" id="add-user" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
